/**
 * Any CSS included here will be global. The classic template
 * bundles Infima by default. Infima is a CSS framework designed to
 * work well for content-centric websites.
 */

/* You can override the default Infima variables here. */
:root {
  --ifm-color-primary: #ff4296;
  --ifm-color-primary-dark: #ff2284;
  --ifm-color-primary-darker: #ff127b;
  --ifm-color-primary-darkest: #e10064;
  --ifm-color-primary-light: #ff62a8;
  --ifm-color-primary-lighter: #ff72b1;
  --ifm-color-primary-lightest: #ffa2cc;
  --ifm-code-font-size: 95%;
  --docusaurus-highlighted-code-line-bg: rgba(0, 0, 0, 0.1);
  h1 {
    font-size: 2rem;
  }
  h2 {
    font-size: 1.5rem;
  }

  .navbar {
    background: rgba(255, 179, 212, 0.6);
    backdrop-filter: blur(25px);
    background-image: url('assets/trianglesNavbar.png');
    background-position: bottom;
    background-size: auto 100%;
    background-repeat: repeat-x;
    /*filter: hue-rotate(0deg) saturate(.5);*/
  }
}


/* For readability concerns, you should choose a lighter palette in dark mode. */
[data-theme="dark"] {
  --ifm-color-primary: #ff66aa;
  --ifm-color-primary-dark: #ff4296;
  --ifm-color-primary-darker: #ff308c;
  --ifm-color-primary-darkest: #ff0d78;
  --ifm-color-primary-light: #ff8abe;
  --ifm-color-primary-lighter: #ff9cc8;
  --ifm-color-primary-lightest: #ffd1e6;
  --docusaurus-highlighted-code-line-bg: rgba(0, 0, 0, 0.3);
  

  .navbar {
    background: rgba(83, 44, 62, 0.6);
    backdrop-filter: blur(25px);
    background-image: url('assets/trianglesNavbar.png');
    background-position: bottom;
    background-size: auto 100%;
    background-repeat: repeat-x;
    /*filter: hue-rotate(0deg) saturate(.5);*/
  }

}
